<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <listeners>
        <listener class-name="main.java.SeleniumActivites.SeleniumUtilites.SuitListeners"/>
    </listeners>
    <test name="LoginPageTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.SampleTestSelenium" />
        </classes>
    </test>
    <test name="LoginPageTest3">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="main.java.AppiumActivites.AppiumTestCase.TC1.UserNotification.CheckNotification"></class>
        </classes>
    </test>
</suite>